* {
  box-sizing: border-box;
  border: thin solid red;
}

html, body { margin: 0; height: 100%; }

.cell {
  background-color: black;
  color: white;
  width: 33.33333%;
  height: 100%;
  text-align: center;
  font-size: 300px;
  float: left; /* también con display: inline; */
}

.row {
  height:33.33333%;
}
